## https://pre-commit.com
# pre-commit install -t pre-commit
#
# Run hooks on repo:
# pre-commit run --all-files [hook-id]
#
# Update repos:
# pre-commit autoupdate
---
repos:
  - repo: https://github.com/boidolr/pre-commit-images
    rev: v1.7.0
    hooks:
      - id: optimize-avif
        exclude: ^tests
      - id: optimize-jpg
        exclude: ^tests
      - id: optimize-png
        exclude: ^tests
      - id: optimize-svg
        exclude: ^tests
      - id: optimize-webp
        exclude: ^tests

  - repo: https://github.com/boidolr/pre-commit-text
    rev: v1.2.15
    hooks:
      - id: pretty-format-yaml
        args: [--preserve-quotes]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: debug-statements
      - id: mixed-line-ending
        files: \.(py|yaml)$
        args: [--fix=lf]
      - id: pretty-format-json
        args: [--autofix, --indent=4, --no-sort-keys]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
