## https://pre-commit.com
# pre-commit install -t pre-commit
#
# Run hooks on repo:
# pre-commit run --all-files [hook-id]
#
# Update repos:
# pre-commit autoupdate
---
exclude: ^tests/test\.[a-z]+$
repos:
  - repo: https://github.com/boidolr/pre-commit-images
    rev: v1.7.1
    hooks:
      - id: optimize-avif
      - id: optimize-jpg
      - id: optimize-png
      - id: optimize-svg
      - id: optimize-webp

  # possible way to run locally installed tools
  - repo: local
    hooks:
      - id: gifsicle
        name: gifsicle - local
        entry: .scripts/gifsicle.sh
        language: script
        pass_filenames: true
        types: [gif]

  - repo: https://github.com/boidolr/pre-commit-text
    rev: v1.2.15
    hooks:
      - id: pretty-format-yaml
        args: [--preserve-quotes]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: debug-statements
      - id: mixed-line-ending
        files: \.(py|yaml)$
        args: [--fix=lf]
      - id: pretty-format-json
        args: [--autofix, --indent=4, --no-sort-keys]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
