name: Tests
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
  schedule:
    - cron: "15 7 */9 * *"
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: boidolr/actions/python-pip-env@main
        with:
          python-version: "${{ matrix.python-version }}"

      - name: Execute tests
        run: |
          pip3 install -q tox
          tox -e py
