name: Tests
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
  schedule:
    - cron: "15 7 */9 * *"
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        runner: [ubuntu-latest]
        include:
          - python-version: "3.13"
            runner: macos-latest
          - python-version: "3.13"
            runner: windows-latest
    runs-on: ${{ matrix.runner }}
    env:
      # renovate: datasource=github-releases depName=astral-sh/uv
      UV_VERSION: "0.5.4"

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - uses: astral-sh/setup-uv@caf0cab7a618c569241d31dcd442f54681755d39 # v3
        with:
          enable-cache: true
          version: ${{ env.UV_VERSION }}

      - name: Install Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Execute tests
        run: uv tool run tox -e ${{ matrix.python-version }}

  precommit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: boidolr/actions/run-precommit@main
        env:
          UV_PYTHON: "3.13"
