name: Publish release
on:
  push:
    tags: ["v**"]

permissions:
  contents: write

jobs:
  create-release:
    runs-on: ubuntu-slim
    if: github.actor == 'boidolr'

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Create release for tag
        run: |
          TAG=$(echo "${{ github.ref }}" | cut -c 11-)
          gh release create --verify-tag --generate-notes "$TAG"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
